/*@import url(https://fonts.googleapis.com/css?family=Tillana:400,500);*/
.legenda p {
    font-family: 'Tillana', cursive;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: -70px;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    position: relative;
}

.form-control {
    border-radius: 0px!important;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}
.btn-azul {
    color: #fff;
    background-color: #00adef;
    border-color: #00adef;
}
.btn-azul:hover {
    color: #fff;
    background-color: #1eb6ed;
    border-color: #1eb6ed;
}
.example-image-link {
    cursor: pointer;
}
body {
    background-color: #ddd;
}
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}
.panel-heading {
    padding: 5px 10px;
}
.thumbnail>img {
    width: 100%;
    object-fit: cover;
    height: 200px!important;
}
.logo-login {
    max-width: 100px;
    padding: 5px;
}
.painel {
    padding: 15px;
}
.input-pesquisa {
    margin: 5px;
}

.formulario-questionario label {
    font-size: 20px;
    
}
.formulario-questionario {
    margin-top: 30px;
}

.barra {
       background-color: rgba(0,0,0,0.5);
    padding: 15px;
    margin: -84px 0;
}

.img-compartilhar {
    width: 100%;
}
    